button{
    border: none !important;
    outline: none !important;
    padding: 16px 50px !important;
    background-color: #ff5945 !important;
    color: #fff !important;
    font-size: 16px !important;
    cursor: pointer !important; 
    border-radius: 40px !important;
}

ul li{
    list-style:none !important;
    font-size: 17px !important;
    padding: 12px 8px 12px 50px !important;
    user-select: none !important;
}

/* ul li::before{
    content: '' !important;
    position: absolute !important;
    height: 28px !important;
    width: 28px !important;
    border-radius: 50% !important;
    background-size: cover !important;
    background-position: center !important;
} */